

<div *ngIf="product">
    <div class="row px-3 product-view">
        <div class="col-md-12 col-lg-5">
            <img [src]="product.image" alt="{{ product.name }}" class=" card-img-top" />
        </div>
        <div class="col-md-12 col-lg-6">
            <div>
                <h5 class="mb-3">{{ product.name }}</h5>
                <p class="rating  ">
                        <ng-container *ngFor="let star of generateStars(product.rating)">
                            <i  class="fa" [ngClass]="{ 'fa-star': star === 'full','fa-star-half-o': star === 'half',
                            'fa-star-o': star === 'empty' }"></i>
                        </ng-container>
                </p>
                <p class="price mb-3">{{ product.price | currency: 'INR' }}</p>
                <p class="mb-4">{{ product.description }}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
                <img [src]="product.image" alt="{{ product.name }}" class="card-mini-img-top mb-2 mb-md-0" />
                <p class="text-danger mb-2 mb-md-0">Out Of Stock</p>
                <div class="btn-group">
                    <button aria-expanded="false" class="border-0 background-0 dropdown-toggle" data-bs-toggle="dropdown"    type="button" >
                        Select Option
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
